<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Footer</title>
<link rel="stylesheet" href="" th:href="@{/css/styles.css}" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap"
	rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"/>

</head>
<body>
<!-- Footer starts  -->
	<footer th:fragment="footer1">
	<div class="footer">
		<div class="container">
			<div class="row">
				<div class="footer-col-1">
					<h3>Download Our App</h3>
					<p>Download App for android and ios smartphones.</p>
					<div class="app-logo">
						<img src="" th:src="@{/images/play-store.png}" alt="" /> <img
							src="" th:src="@{/images/app-store.png}" alt="" />
					</div>
				</div>
				<div class="footer-col-2">
					<img src="" th:src="@{/images/logo-white.png}" alt="" />
					<p>Our purpose is to sustainably make the Pleasure and Benifits
						of Sports Accessible to all.</p>
				</div>
				<div class="footer-col-3">
					<h3>Useful Links</h3>
					<ul>
						<li>Blog Post</li>
						<li>Return Policy</li>
						<li>Contact</li>
					</ul>
				</div>
				<div class="footer-col-4">
					<h3>Follow us</h3>
					<ul>
						<li><a href="https://www.facebook.com/">Facebook</a></li>
						<li><a href="https://www.instagram.com/">Instagram</a></li>
						<li><a href="https://www.youtube.com/">Youtube</a></li>
					</ul>
				</div>
			</div>
			<hr />
			<p class="copyright">Copyright 2022 - Chiranjiv Mohanty</p>
		</div>
	</div>
	</footer>
	<!--Footer ends  -->
</body>
</html>