<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Welcome to Admin</title>
<link rel="stylesheet" href="" th:href="@{/css/styles.css}" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap"
	rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"/>
</head>
<body>

	<!-- Header Section starts -->
	<header th:replace="header::header1"></header>
	<!-- Header Section ends -->
	
<!-- 	page content start -->
	
	<div class="account-page">
		<div class="container">
			<div class="row">
				<div class="col-2">
					<img src="" th:src="@{/images/image1.png}" width="100%"  alt="" />
				</div>
				<div class="col-2">
					<div class="form-container">
						<div class="form-btn">
							<a href="" th:href="@{/login}"><span>Login</span></a>
							<hr id="indicator2"/>
						</div>
	<div class="row-2">
				<h2>Admin Login</h2>
			</div>
	<form action="LoginInfo" method="post">
		<input type="text" name="username" placeholder="Enter UserName" />
		<input type="password" name="password" placeholder="Enter Password" />
		<button type="submit" value="Submit" class="btn">Login</button>
	</form>
	
	</div>
	</div>
	</div>
	</div>
	</div>
	
<!-- 	page content end -->

	<!-- Footer starts  -->
	<footer th:replace="footer::footer1"></footer>
	<!--Footer ends  -->
	
</body>
</html>